[Unit]
Description=pi-app-updater
After=network.target
StartLimitInterval=300
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/home/pi/.pi-app-updater.env
ExecStart=/home/pi/dev-pi-app-updater --repo-name <<.RepoName>> --package-name <<.PackageName>>
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=root
