[Unit]
Description=pi-app-deployer-agent
After=network.target
StartLimitInterval=300
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/home/pi/.pi-app-deployer-agent.env
ExecStart=/home/pi/pi-app-deployer-agent --repo-name <<.RepoName>> --manifest-name <<.ManifestName>>
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=root
