#!/bin/bash

export APP_VERSION=<<.AppVersion>>

<<$newline:=.NewLine>>
if [[ -z ${HEROKU_API_KEY} ]]; then
  echo "HEROKU_API_KEY env var not set, exiting now"
  exit 1
fi

vars=$(curl -s -n https://api.heroku.com/apps/<<.HerokuAppName>>/config-vars \
  -H "Accept: application/vnd.heroku+json; version=3" \
  -H "Authorization: Bearer ${HEROKU_API_KEY}")
<<$newline>>

<<- range $key := .EnvVarKeys ->>
export << $key >>=$(echo $vars | jq -r '.<< $key >>')
if [[ -z ${<< $key >>} || ${<< $key >>} == 'null' ]]; then
  echo "<< $key >> env var not set, exiting now"
  exit 1
fi<<$newline>>
<< end >>
unset HEROKU_API_KEY

<<.BinaryPath>>
