[Unit]
Description=<<.Description>>
After=<<.After>>
Requires=<<.Requires>>
StartLimitInterval=300
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=<<.EnvironmentFile>>
ExecStart=<<.ExecStart>>
WorkingDirectory=<<.HomeDir>>
StandardOutput=inherit
StandardError=inherit
TimeoutStartSec=<<.TimeoutStartSec>>
Restart=<<.Restart>>
RestartSec=<<.RestartSec>>
User=<<.AppUser>>
