[Unit]
Description=<<.Description>>
After=<<.After>>
Requires=<<.Requires>>
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=<<.EnvironmentFile>>
ExecStart=<<.ExecStart>>
WorkingDirectory=<<.WorkingDirectory>>
StandardOutput=inherit
StandardError=inherit
Restart=<<.Restart>>
RestartSec=<<.RestartSec>>
User=<<.AppUser>>
