[Unit]
Description=<<.Description>>
After=<<.After>>
Requires=<<.Requires>>
StartLimitInterval=300
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
StandardOutput=inherit
[Service]
ExecStart=<<.ExecStart>>
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
TimeoutStartSec=<<.TimeoutStartSec>>
Restart=<<.Restart>>
RestartSec=<<.RestartSec>>
User=pi
Environment=HEROKU_API_KEY=<<.HerokuAPIKey>>
