[Unit]
Description=<<.Description>>
After=network.target
StartLimitInterval=300
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/pi/run-<<.Name>>.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=pi<<.NewLine>>

<<- $values := .Map ->>
<<- range $key := .Keys ->>
Environment=<< $key >>=<< index $values $key >>
<< end >>
