[Unit]
Description=Sample App
After=a.service b.service
Requires=c.service
StartLimitInterval=300
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
StandardOutput=inherit
[Service]
ExecStart=/home/pi/run-sample-app.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
TimeoutStartSec=7
Restart=always
RestartSec=23
User=pi
Environment=HEROKU_API_KEY=abcdefg
